body{

}

#header-nav{
	background-color: #9893DA;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-header h1{ /*"Food, LLC"*/
	padding-left:10px;
	margin-top: 10px;

}

.navbar-header button{
	margin-top: 10px;
}

#nav-list{
	margin-top: 10px;
}

#nav-list li{
	text-align: center;
	font-size: 1.4em;
}

#nav-list li:hover{
	background: #FFF; /*change later*/
}

#main-content h2{
	margin: 0px;
	padding-bottom: 10px;
}

.menuItem{
	text-align: center;
	background-color: #adb5bd;
	height: 500px;
	margin-bottom: 10px;
}

.menuItem p{
	padding-top: 5px;
	text-align: left;
}